@media only screen and (max-width: 2561px)
{

    /* Service Section */

    .service .service-text-img 
    {
        height: 201px;
        top: 258px;
    }

    .service .service-text-img 
    {
        width: 50vw;
        height: 28vw;
    }

    .service .service-text-img img 
    {
        width: 70vw;
    }

    .service .service-path-img 
    {
        top: 19.5vw;
    }

    .service .service-path-img img 
    {
        width: 29vw;
    }

    .service .service-card-container-img 
    {
        margin-top: 13vw;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 11.25vw;
    }

    .service .maincontainer 
    {
        width: 241px;
        height: 13vw;
    }

    .service .maincontainer1
    {
        transform: translateX(1.3vw);
        -webkit-transform: translateX(1.3vw);
        -moz-transform: translateX(1.3vw);
        -ms-transform: translateX(1.3vw);
        -o-transform: translateX(1.3vw);
    }

    .service .maincontainer2
    {
        transform: translateX(.2vw);
        -webkit-transform: translateX(.2vw);
        -moz-transform: translateX(.2vw);
        -ms-transform: translateX(.2vw);
        -o-transform: translateX(.2vw);
    }

    .service .maincontainer3 
    {
        transform: translateX(-1.25vw);
        -webkit-transform: translateX(-1.25vw);
        -moz-transform: translateX(-1.25vw);
        -ms-transform: translateX(-1.25vw);
        -o-transform: translateX(-1.25vw);
    }

    /* Footer Section */

    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 40px;
    }

    .footer-wrapper .footer-information .footer-information-para .animation 
    {
        font-size: 18px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        width: 368px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 378px;
    }
}


@media only screen and (max-width: 2100px)
{

    /* Service Section */

    .service .service-text-img 
    {
        width: 50vw;
        height: 18vw;
    }

    .service .service-text-img img 
    {
        width: 60vw;
    }

    .service .service-path-img 
    {
        top: 23.5vw;
    }

    .service .service-card-container-img 
    {
        margin-top: 15vw;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 13.25vw;
    }

    .service .maincontainer 
    {
        width: 258px;
        height: 16vw;
    }

    .service .maincontainer3 
    {
        transform: translateX(-1.45vw);
        -webkit-transform: translateX(-1.45vw);
        -moz-transform: translateX(-1.45vw);
        -ms-transform: translateX(-1.45vw);
        -o-transform: translateX(-1.45vw);
    }

}

@media only screen and (max-width: 1700px)
{

    /* Service Section */

    .service .service-text-img 
    {
        top: 271px;
    }

    .service .service-text-img img 
    {
        width: 65vw;
    }

    .service .service-path-img 
    {
        top: 29.5vw;
    }

    .service .service-path-img img 
    {
        width: 42vw;
    }

    .service .service-card-container-img 
    {
        margin-top: 20vw;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 18.25vw;
    }

    .service .maincontainer 
    {
        width: 234px;
        height: 294px;
    }

    .service .maincontainer1
    {
        transform: translateX(1vw);
        -webkit-transform: translateX(1vw);
        -moz-transform: translateX(1vw);
        -ms-transform: translateX(1vw);
        -o-transform: translateX(1vw);
    }

    .service .maincontainer2
    {
        transform: translateX(.1vw);
        -webkit-transform: translateX(.1vw);
        -moz-transform: translateX(.1vw);
        -ms-transform: translateX(.1vw);
        -o-transform: translateX(.1vw);
    }

    .service .maincontainer3 
    {
        transform: translateX(-1.45vw);
        -webkit-transform: translateX(-1.45vw);
        -moz-transform: translateX(-1.45vw);
        -ms-transform: translateX(-1.45vw);
        -o-transform: translateX(-1.45vw);
    }

    /* Footer Section */

    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 30px;
    }

    .footer-wrapper .footer-information .footer-information-para .animation 
    {
        font-size: 14px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        width: 280px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 300px;
    }

}


@media only screen and (max-width: 1441px)
{

    /* Service Section */

    .service .service-text-img 
    {
        width: 60vw;
        height: 53vw;
    }

    .service .service-text-img img 
    {
        width: 75vw;
    }

    .service .service-text-img 
    {
        top: 274px;
        width: 60vw;
        height: 21vw;
    }

    .service .service-path-img 
    {
        top: 34.5vw;
    }

    .service .service-card-container-img 
    {
        margin-top: 22vw;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 20.25vw;
    }

    .service .maincontainer 
    {
        width: 201px;
        height: 259px;
    }

    .service .back 
    {
        padding: 16px;
        font-size: 18px;
    }

    .service .back .main-btn 
    {
        padding: 8px 27px;
        font-size: 12px;
    }
    
    /* Footer Section */

    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 30px;
    }

    .footer-wrapper .footer-information .footer-information-para .animation 
    {
        font-size: 14px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        width: 230px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 378px;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(170px , -130px);
        background-color: var(--second-color);
        border-radius: 50%;
        width: 280px;
        height: 260px;
    }

    .footer-wrapper .footer-contact-form .contact-form .footer-contact-form-feilds 
    {
        width: 45%;
        margin-right: 0;
    }
    .footer-wrapper .footer-contact-form .contact-form .footer-contact-form-feilds-textarea
    {
        width: 95.5%;
    }

    .footer-wrapper .footer-information-img-container .footer-information-img 
    {
        height: 58vw;
    }

    .footer-wrapper .footer-information .footer-information-row 
    {
        margin-left: 50px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3
    {
        width: 300px
    }

    .footer-wrapper .footer-information .footer-line 
    {
        transform: translateX(0px);
    }
}


@media only screen and (max-width: 1025px){
    /* Custom CSS */

    h1
    {
        font-size: 40px;
    }

    h2 
    {
        font-size: 24px;
    }

    h3
    {
        font-size: 20px;
    }

    h5
    {
        font-size: 14px;
    }

    /* Service Section */

    .service .service-text-img 
    {
        top: 217px;
        width: 90vw;
        height: 36vw;
    }

    .service .service-text-img img 
    {
        width: 101vw;
    }

    .service .service-path-img 
    {
        top: 42.5vw;
    }

    .service .service-path-img img 
    {
        width: 50vw;
    }

    .service .service-menu 
    {
        width: 160px;
        height: 160px;
    }

    .service .service-card-container-img 
    {
        margin-top: 30vw;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 28.3vw;
    }

    .service .maincontainer 
    {
        width: 143px;
        height: 183px;
    }

    .service .back 
    {
        padding: 7px;
        font-size: 12px;
    }

    .service .back .back-btn 
    {
        margin-top: 9px;
    }

    .service .back .back-btn .main-btn {
        padding: 8px 19px;
        font-size: 9px;
    }

     /* Footer Section */

     .footer-wrapper .footer-contact-form .footer-contact-form-logo 
     {
         transform: translate(40px , -90px);
         background-color: var(--second-color);
         border-radius: 50%;
         width: 208px;
         height: 208px;
     }
 
     .footer-wrapper .footer-contact-form .footer-contact-form-logo .footer-contact-form-logo-img
     {
         width: 170px;
     }
 
     .footer-wrapper .footer-contact-form 
     {
         padding-left: 20px;
         padding-bottom: 8px;
         width: 368px;
     }
 
     .footer-wrapper .footer-contact-form .footer-contact-form-heading-2 
     {
         font-size: 14px;
     }
 
     .footer-wrapper .footer-information-img-container .footer-information-img 
     {
         height: 73vw;
     }
 
     .footer-wrapper .footer-information .footer-information-heading 
     {
         font-size: 24px;
     }
 
     .footer-wrapper .footer-information .footer-information-row 
     {
         margin-left: 22px;
     }
 
     .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
     {
         padding: 0;
         width: 173px;
     }
 
     .footer-wrapper .footer-information .footer-information-row .footer-information-col-3
     {
         width: 300px;
     }
 
     .footer-wrapper .footer-information .footer-information-row .footer-information-col-2
     {
         width: 152px;
     }
 
     .footer-wrapper .footer-information 
     {
         margin-left: 7px;
         width: 648px;
     }
 
     .footer-wrapper .footer-information .footer-line 
     {
         transform: translateX(-9px);
         margin-top: 48px;
     }
 
     .footer-wrapper .footer-about-us 
     {
         margin-top: 47px;
     }
 
     .footer-wrapper .footer-about-us .footer-about-us-para 
     {
         font-size: 13px;
         width: 90%;
         margin-left: 17px;
     }
 
     .footer-wrapper .footer-about-us .footer-bottom-content 
     {
         margin-left: 4px;
     }
 
     .footer-wrapper .footer-about-us .footer-bottom-content .footer-payment-img-container 
     {
         margin-right: 50px;
     }
 
     .footer-wrapper .footer-about-us .footer-bottom-content .footer-payment-img-container img 
     {
         width: 230px;
     }
 
     .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons 
     {
         margin-right: 60px;
     }
 
     .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons .footer-icon 
     {
         padding: .5vw .8vw;
     }
 
     .footer-wrapper .copy_right h2 
     {
         font-size: 13px;
     }
 
     .footer-wrapper .copy_right a 
     {
         font-size: 10px;
     }
}
@media only screen and (max-width: 992px){
    /* Custom CSS */

    h2 
    {
        font-size: 30px;
        line-height: 40px;
    }

    h3 
    {
        font-size: 18px;
    }    
    /* HERO SECTION */
    .form-container .form-h2 {
        background-color: var(--third-color);
        width: 80%;
        height: 8vw;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(-50%);
    }
    .second-btn 
    {
    margin-bottom: 8vw;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 27px;
    border: 2px solid var(--main-color); 
    color: var(--second-color);
	background-color: var(--third-color);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;   
    background:linear-gradient(to right, var(--second-color) 50%, transparent 50%);
	background-color: var(--third-color);
    background-size:200% 100%;
    background-position: right bottom;
    transition:all 0.5s ease-out;
    } 

     /* Service Section */

     .service 
     {
         min-height: 100vh;
     }
 
     .service .service-menu-2 
     {
         transform: translateY(147px);
         margin: 0 16px;
     }
 
     .service .service-path-img 
     {
         top: 48.5vw;
     }
 
     .service .service-text-img 
     {
         top: 256px;
     }
 
     .service .service-card-container-img 
     {
         margin-top: 31.5vw;
     }
 
     .service .service-card-container .service-section-card-container 
     {
         margin-top: 29.8vw;
     }
 
     .service .maincontainer 
     {
         width: 138px;
         height: 178px;
     }

      /* Footer Section */

    .footer-wrapper .footer-information-img-container 
    {
        display: none;
    }

    .footer-wrapper .footer-information-img-container .footer-information-img
    {
        display: none;
    }

    .footer-wrapper .footer-contact-form 
    {
        width: 100%;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(340px , -90px);
    }

    .footer-wrapper .footer-information
    {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1 
    {
        margin-right: 100px;
    }

    .footer-wrapper .footer-information 
    {
        width: 100%;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2 
    {
        margin-right: 100px;
    }
 
}


@media (max-width: 769px) 
{

    /* custom css */

    h1 
    {
        font-size: 40px;
        line-height: 48px;
    }

    p 
    {
        font-size: 14px;
        line-height: 24px;
    }

    /* Service Section */

    .service .service-text-img 
    {
        display: none;
    }

    .service .service-path-img 
    {
        display: none;
    }

    .service .service-menu 
    {
        width: 318px;
        height: 82px;
        flex-direction: row;
        margin: 2px;
        border-radius: 80px;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    .service .service-menu:hover h5
    {
        color: var(--main-color);
    }

    .service .service-menu:hover
    {
        transform: translateY(10px);
    }

    .service .service-menu h5 
    {
        color: var(--main-color);
        font-size: 18px;
        font-weight: 500;
    }

    .service .service-menu .service-menu-content 
    {
        border: none;
        transform: translateX(0px);
        position: initial;
        width: auto;
        background-color: transparent;
    }

    .service .service-card-container-img img 
    {
        display: none;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 20px;
    }

    /* Footer Section */

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1 
    {
        margin-right: 30px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2 
    {
        margin-right: 30px;
    }

    .footer-wrapper .copy_right h2 
    {
        font-size: 9px;
    }

    .footer-wrapper .copy_right a 
    {
        font-size: 8px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons .footer-icon 
    {
        padding: .5vw 1.1vw;
    }
}



@media only screen and (max-width: 575px){

    /* CUSTOM CSS */
    h1
    {
        font-size: 35px;
        line-height: 1;
    }

    h3
    {
        font-size: 13px;
        font-weight: 400;
    }
    .service
    {
        min-height: 194vh;
    }

    .service .service-card-container .service-section-card-container 
    {
        margin-top: 295px;
    }

    .service .maincontainer3 
    {
        transform: translateX(1vw);
        -webkit-transform: translateX(1vw);
        -moz-transform: translateX(1vw);
        -ms-transform: translateX(1vw);
        -o-transform: translateX(1vw);
    }

    .service .maincontainer4 
    {
        transform: translateX(.3vw);
        -webkit-transform: translateX(.3vw);
        -moz-transform: translateX(.3vw);
        -ms-transform: translateX(.3vw);
        -o-transform: translateX(.3vw);
    }

    /* Footer Section */

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(177px , -90px);
    }

    .footer-wrapper .footer-about-us .footer-about-us-para 
    {
        transform: translateX(-36px);
    }

    .footer-wrapper .footer-information .footer-information-row 
    {
        margin-left: 42px;
        margin-right: 100px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2 
    {
        padding: 0;
        margin-top: 30px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 300px;
        padding: 0;
        margin-top: 30px;
    }

    .footer-wrapper .footer-information .footer-line 
    {
        width: 100%;
    }

    .footer-wrapper .footer-about-us .footer-about-us-para 
    {
        width: 141%;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content 
    {
        margin-left: -31px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-payment-img-container,
    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons
    {
        margin-bottom: 20px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons .footer-icon 
    {
        padding: 1vw 1.3vw;
    }

    .footer-wrapper .copy_right 
    {
       height: auto;
    }

    .footer-wrapper .copy_right h2 
    {
        line-height: 1.2;
        font-size: 9px;
        padding: 10px 0;
    }
  /* CONTACT US PAGE */
    .trust-back{
        display: none;
    }
    .island{
        width: 120px;
        height: 20px;
        background-color: var(--text-color);
        border-radius: 10px;
        position: absolute;
        top: 1%;
        left: 40%;  
        padding-bottom: 10px;
    }
    .camera1{
        width: 20px;
        height: 20px;
        background-color: var(--text-color);
        border-radius: 50%;
        position: absolute;
        top: 1%;
        left: 32%;
    }
    .mobile-icon1{
        display: none;
        font-size: 20px;
        color: var(--text-color);
        position: absolute;
        bottom: -70%;
        left: -11%;
        rotate: 90deg;
        
    }
    .mobile-icon2{
        display: none;
        font-size: 32px;
        color: var(--text-color);
        position: absolute;
        right: 1%;
        top: 50%;
        rotate: 90deg;
    }
    .mobile-icon3{
        display: none;
        font-size: 32px;
        color: var(--text-color);
        position: absolute;
        right: 1%;
        top: 80%;
        rotate: 90deg;
    }
    
    .contact-icons{
    margin: 10vw 5vw;
    padding: 1vw 0;
    }
    .contact-heading2-address{
        width: 100%;
    }

    /* HERO SECTION */
    .form-container 
    {
        /* position: relative; */
        background-color: var(--text-color);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        
        
    }
    .form-container .form-h2 {
        background-color: var(--third-color);
        width: 80%;
        height: 8vw;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(-50%);
    }
    .lead-form-service-text{
    color: var(--main-color);
    font-size: 22px;
    padding: 1vw;
}
    .second-btn 
    {
    margin-bottom: 8vw;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 27px;
    border: 2px solid var(--main-color); 
    color: var(--second-color);
	background-color: var(--third-color);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;   
    background:linear-gradient(to right, var(--second-color) 50%, transparent 50%);
	background-color: var(--third-color);
    background-size:200% 100%;
    background-position: right bottom;
    transition:all 0.5s ease-out;
    } 
    /* CASE STUDY SECTION */
    .case-study-para{
        width: 100%;
    }

    /* PORTFOLIO SECTION */
    .image-container {
        text-align: center;
    }
    .logoCrousal-Mobile{
        display: none;
    }
}
@media only screen and (max-width: 376px)
{

    h1 
    {
        font-size: 30px;
    }

    /* Service Section */

    .service
    {
        min-height: 188vh;
    }

    .service .back 
    {
        padding: 6px;
    }

    .service .back 
    {
        padding: 6px;
        font-size: 12px;
        font-weight: 500;
    }

    .service .back .main-btn 
    {
        padding: 4px 9px;
        font-weight: 600;
        font-size: 9px;
    }

    /* Footer Section */

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(100px , -90px);
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-heading 
    {
        font-size: 28px;
    }
}